body {
   background-color: #1d1d1d;
   margin: 0;
}
.nav-bar {
   position: fixed;
   width: 60px;
   text-align: center;
   top: 0;
   bottom: 0;
   left: 0;
   height: 100%;
   background-color: #181818;
}

.nav-bar .logo {
   height: 80px;
   width: 100%;
   background-color: #070707;
}
.nav-bar .logo img {
   text-align: center;
   width: 50px;
   margin-top: 10px;
}
.nav-bar .logo p {
   font-family: "Titillium Web", sans-serif;
   position: relative;
   bottom: 10px;
   color: white;
   font-size: 12px;
   margin: 0;
   text-align: center;
}
.nav-bar .links {
   width: 100%;
   margin: 0;
   position: absolute;
   top: 50%;
   -ms-transform: translateY(-50%);
   transform: translateY(-50%);
}
.nav-bar .social {
   width: 100%;
   position: absolute;
   text-align: center;
   bottom: 10px;
}
.nav-bar .links a{
   color: #909096;
   width: 100%;
   height: 20px;
   margin-top: 20px;
   margin-bottom: 20px;
}
 .nav-bar .links i {
   color: #909096;
   width: 100%;
   height: 20px;
   margin-top: 20px;
   margin-bottom: 20px;
} 
#homel{
   color:#11d5b3;
   width: 100%;
   height: 20px;
   margin-top: 20px;
   margin-bottom: 20px;
}
.nav-bar b {
   display: none;
   width: 100%;
   height: 20px;
   font-size: 12px;
   font-family: "Titillium Web", sans-serif;
   margin-bottom: 20px;
   margin-top: 20px;
   color: #11d5b3;
}
.nav-bar .social i {
   color: #909096;
   width: 100%;
   margin-bottom: 10px;
}

.nav-bar .links a:hover i {
   display: none;
}
.nav-bar .links a:hover b {
   display: block;
}
.nav-bar .social i:hover {
   transition-duration: 100ms;
   color: #11d5b3;
}
h1{
   color: #11d5b3;
}
.pages{
   padding: 25px 50px 75px 100px
}
#homePage{
   /* padding: 25px 50px 75px 100px */
   height: 100%;
}
#homePage p{
   font-family: 'La Belle Aurore', cursive;
   color: #515152;
   font-size: 18px;
}
#aboutPage{
   display:none;

}
#skillPage{
   display:none;
}
#projectPage{
   display:none;
}
#contactPage{
   display:none;
}
.animation{
   display: none;
}



@media screen and (max-width: 600px) {
   .nav-bar {
      position: fixed;
      width: 100%;
      height: 50px;
      background-color: #181818;
   }
   .nav-bar .logo {
      height: 100%;
      width: 80px;
   }
   .nav-bar .logo img {
      text-align: center;
      width: 50px;
      margin-top: 0px;
   }
   .nav-bar .logo p {
      display: none;
   }
   .nav-bar .links {
      float: left;
      position: absolute;
      right: 0;
      width: 350px;
      height: 100%;
      margin: 0;
   }
   .nav-bar .social {
      display: none;
   }
   .nav-bar .links a{
      float: left;
      display: block;
      color: #909096;
      width: 70px;
      height: 100%;
      margin: 0px;
   }
   .nav-bar .links i {
      float: left;
      display: block;
      color: #909096;
      width: 70px;
      height: 100%;
      margin top: 8px;
   }
   .nav-bar b {
      display: none;
      width: 70px;
      height: 100%;
      float: left;
      margin top: 8px;
   }
   .nav-bar .social i {
      display: none;
   }
   .nav-bar .links a:hover i {
      display: none;
   }
   .nav-bar .links a:hover b {
      display: block;
   }
   .nav-bar .social i:hover {
      none;
   }
}
.slide-in-bck-center {
	-webkit-animation: slide-in-bck-center 3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-bck-center 3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
/* ----------------------------------------------
 * Generated by Animista on 2020-7-25 13:45:48
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-bck-center
 * ----------------------------------------
 */
 @-webkit-keyframes slide-in-bck-center {
   0% {
     -webkit-transform: translateZ(600px);
             transform: translateZ(600px);
     opacity: 0;
   }
   100% {
     -webkit-transform: translateZ(0);
             transform: translateZ(0);
     opacity: 1;
   }
 }
 @keyframes slide-in-bck-center {
   0% {
     -webkit-transform: translateZ(600px);
             transform: translateZ(600px);
     opacity: 0;
   }
   100% {
     -webkit-transform: translateZ(0);
             transform: translateZ(0);
     opacity: 1;
   }
 }

 .slide-out-fwd-center {
	-webkit-animation: slide-out-fwd-center 3s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: slide-out-fwd-center 3s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}
/* ----------------------------------------------
 * Generated by Animista on 2020-7-25 13:55:38
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-out-fwd-center
 * ----------------------------------------
 */
 @-webkit-keyframes slide-out-fwd-center {
   0% {
     -webkit-transform: translateZ(1);
             transform: translateZ(1);
     opacity: 1;
   }
   100% {
     -webkit-transform: translateZ(600px);
             transform: translateZ(600px);
     opacity: 0;
   }
 }
 @keyframes slide-out-fwd-center {
   0% {
     -webkit-transform: translateZ(1);
             transform: translateZ(1);
     opacity: 1;
   }
   100% {
     -webkit-transform: translateZ(600px);
             transform: translateZ(600px);
     opacity: 0;
   }
 }
 
 
.circle{
   width: 180px;
   height: 180px;
   border: 10px inset #11d5b3;
   display: block;
   position: fixed;
   top: 50%;
   left: 50%;
   margin-left: -100px;
   margin-top: -100px;
   border-radius: 200px;
   -moz-animation: rotate 5s infinitelinear;
   -webkit-animation: rotate 5s infinite linear;
   animation: rotate 5s infinite linear;
   box-shadow: 0 0 5px rgba(0,0,0,0.2);
}

.circle-small{
   width: 150px;
   height: 150px;
   border: 6px outset rgb(133,224,242);
   display: block;
   position: fixed;
   top: 50%;
   left: 50%;
   margin-left: -81px;
   margin-top: -81px;
   border-radius: 156px;
   -moz-animation: rotate-rev 3s infinite linear;
   -webkit-animation: rotate-rev 3s infinite linear;
   animation: rotate-rev 3s infinite linear;
   box-shadow: 0 0 5px rgba(0,0,0,0.2);
}

.circle-big{
   width: 210px;
   height: 210px;
   border: 4px dotted rgb(133,224,242);
   display: block;
   position: fixed;
   top: 50%;
   left: 50%;
   margin-left: -109px;
   margin-top: -109px;
   border-radius: 214px;
   -moz-animation: rotate-rev 10s infinite linear;
   -webkit-animation: rotate-rev 10s infinite linear;
   animation: rotate-rev 10s infinite linear;
}

.circle-inner{
   width: 80px;
   height: 80px;
   background-color: rgb(133,224,242);
   display: block;
   position: fixed;
   top: 50%;
   left: 50%;
   margin-left: -40px;
   margin-top: -40px;
   border-radius: 80px;
   -moz-animation: pulse 1.5s infinite ease-in;
   -webkit-animation: pulse 1.5s infinite ease-in;
   animation: pulse 1.5s infinite ease-in;
   opacity: 1;
   box-shadow: 0 0 5px rgba(0,0,0,0.2);
}

.circle-inner-inner{
   width: 100px;
   height: 100px;
   background-color: rgb(74,124,134);
   display: block;
   position: fixed;
   top: 50%;
   left: 50%;
   margin-left: -50px;
   margin-top: -50px;
   border-radius: 100px;
   -moz-animation: pulse 1.5s infinite ease-in;
   -webkit-animation: pulse 1.5s infinite ease-in;
   animation: pulse 1.5s infinite ease-in;
   box-shadow: 0 0 5px rgba(0,0,0,0.2);
}


/*==============ANIMATIONS=================*/

/*==============ROTATE=====================*/

@-moz-keyframes rotate{
 0% {-moz-transform: rotate(0deg);}
 100% {-moz-transform: rotate(360deg);}
}

@-webkit-keyframes rotate{
  0% {-webkit-transform: rotate(0deg);}
  100% {-webkit-transform: rotate(360deg);}
}

@keyframes rotate{
  0% {transform: rotate(0deg);}
  100% {transform: rotate(360deg);}
}

/*==============ROTATE-REV=================*/

@-moz-keyframes rotate-rev{
  0% {-moz-transform: rotate(0deg);}
  100% {-moz-transform: rotate(-360deg);}
}

@-webkit-keyframes rotate-rev{
  0% {-webkit-transform: rotate(0deg);}
  100% {-webkit-transform: rotate(-360deg);}
}

@keyframes rotate-rev{
  0% {transform: rotate(0deg);}
  100% {transform: rotate(-360deg);}
}

/*==============PULSE======================*/

@-moz-keyframes pulse{
  0% {
       -moz-transform: scale(0.1);
       opacity: 0.2;
   }
  50% {
       -moz-transform: scale(1);
       opacity: 0.8;
   }
   100% {
       -moz-transform: scale(0.1);
       opacity: 0.2;
   }
}

@-webkit-keyframes pulse{
  0% {
       -webkit-transform: scale(0.1);
       opacity: 0.2;
   }
  50% {
       -webkit-transform: scale(1);
       opacity: 0.8;
   }
   100% {
       -webkit-transform: scale(0.1);
       opacity: 0.2;
   }
}

@keyframes pulse{
  0% {
       transform: scale(0.1);
       opacity: 0.2;
   }
  50% {
       transform: scale(1);
       opacity: 0.8;
   }
 100% {
       transform: scale(0.1);
       opacity: 0.2;
   }
}
