body {
   background-color: #1d1d1d;
   margin: 0;
   height: 100%;
   overflow :auto;
}
html{
   height: 100%;
}
.nav-bar {
   position: fixed;
   width: 60px;
   text-align: center;
   top: 0;
   bottom: 0;
   left: 0;
   height: 100%;
   z-index: 999;
   background-color: #181818;
}

.nav-bar .logo {
   height: 80px;
   width: 100%;
   background-color: #070707;
}
.nav-bar .logo img {
   text-align: center;
   width: 50px;
   margin-top: 10px;
}
.nav-bar .logo p {
   font-family: "Titillium Web", sans-serif;
   position: relative;
   bottom: 10px;
   color: white;
   font-size: 12px;
   margin: 0;
   text-align: center;
}
.nav-bar .links {
   width: 100%;
   margin: 0;
   position: absolute;
   top: 50%;
   -ms-transform: translateY(-50%);
   transform: translateY(-50%);
}
.nav-bar .social {
   width: 100%;
   position: absolute;
   text-align: center;
   bottom: 10px;
}
.nav-bar .links a{
   color: #909096;
   width: 100%;
   height: 20px;
   margin-top: 20px;
   margin-bottom: 20px;
}
 .nav-bar .links i {
   color: #909096;
   width: 100%;
   height: 20px;
   margin-top: 20px;
   margin-bottom: 20px;
} 
#homel{
   color:#11d5b3;
   width: 100%;
   height: 20px;
   margin-top: 20px;
   margin-bottom: 20px;
}
.nav-bar b {
   display: none;
   width: 100%;
   height: 20px;
   font-size: 12px;
   font-family: "Titillium Web", sans-serif;
   margin-bottom: 20px;
   margin-top: 20px;
   color: #11d5b3;
}
.nav-bar .social i {
   color: #909096;
   width: 100%;
   margin-bottom: 10px;
}

.nav-bar .links a:hover i {
   display: none;
}
.nav-bar .links a:hover b {
   display: block;
}
.nav-bar .social i:hover {
   transition-duration: 100ms;
   color: #11d5b3;
}
.pages{
   margin-left: 140px;
}
.headingText{
   font-size: 60px;
   font-family: 'Concert One', cursive;
   color: #ffff;
}
.upperText{
   margin: 0;
   font-family: 'La Belle Aurore', cursive;
   color: #515152;
   font-size: 18px;
}
.lowerText{
   width: fit-content;
   margin-top: 80px;
   font-family: 'La Belle Aurore', cursive;
   color: #515152;
   font-size: 18px;
}
.upText{
   font-family: 'La Belle Aurore', cursive;
   text-transform: lowercase;
   color: #515152;
   font-size: 18px;
}
.lowText{
   font-family: 'La Belle Aurore', cursive;
   text-transform: lowercase;
   color: #515152;
   font-size: 18px;
}
#homePage{
   cursor: default;
   /* padding: 25px 50px 75px 100px */
   padding-top: 40px;

}
.row{
   width: 100%;
   text-align: left;
}

.textZone{
   margin-left: 30px;
   margin-top: 100px;
}

.textZone h5{
   color:  #8d8d8d;
   font-family:'Rajdhani', sans-serif;
   text-transform: none; 
   font-size: 16px;
}
.contactBtn{
   margin-top: 20px;
   width: 160px;
   height: 40px;
   background: none;
   font-family: 'Rajdhani', sans-serif;
   border: 1px solid  #08fdd8;
   color:  #08fdd8;
   font-size: 18px;
}
.contactBtn:hover{
background-color:#08fdd8;
color: #1d1d1d;
}

.aLogo{
   font-family: 'Monoton', cursive;
   font-size: 450px;
   color: #08fdd8;

}
#aboutPage{
   cursor: default;
   display:none;
   padding-top: 40px;
}
#aboutPage h1{
   margin-bottom: 0;
}
#aboutPage img{
   width: 500px;
   margin-top: 50px;
}
#aboutPage .upText{
   margin-bottom: 0px;
   text-transform: lowercase;
}
#aboutPage .lowText{
   text-transform: lowercase;
   margin-top: 10px;
}
#aboutPage .col-sm{
   width: 50%;
}
#aboutPage .headingText{
   color: #08fdd8;
}
#aboutPage .education{
   display: none;
}
#skillPage{
   cursor: default;
   display:none;
   padding-top: 40px;
}
.graph-cont{
   padding-top: 100px;
}
#skillPage .headingText{
   color: #08fdd8;
}
#skillPage a{
   color: #08fdd8;
}


#projectPage{
   cursor: default;
   display:none;
}
#contactPage{
   display:none;
   cursor: default;
   /* padding: 25px 50px 75px 100px */

}
.contactForm{
   padding-top: 40px;
   text-align: left;
}
.contactForm .headingText{
   color: #08fdd8;
}
.mb-4{
   margin-top: 20px;
}
.contactForm p{
   color:  #8d8d8d;
   margin-top: 15px;
   font-family:'Rajdhani', sans-serif; 
   text-transform: none;
   font-size: 16px;
}
.contactForm .formInput{
   color:  #8d8d8d;
   font-family:'Rajdhani', sans-serif; 
   font-size: 16px;
}
.contactForm input{
   background-color: #2b2b2b;
   border: none;
   color: #8d8d8d;
}
.contactForm input:focus{
   background-color: #2b2b2b;
   border-color: inherit;
   -webkit-box-shadow: none;
   box-shadow: none;
}
.contactForm textarea{
   background-color: #2b2b2b;
   color: #8d8d8d;
   border: none;
}
.contactForm textarea:focus{
   background-color: #2b2b2b;
   border-color: inherit;
   -webkit-box-shadow: none;
   box-shadow: none;
}
#contactLowerText{
    margin-top: 20px; 
}
#contact-form{
   margin-top: 40px;
}
.icons i{
   color: #08fdd8;   
}
iframe{
   height: 700px;
   width: 100%;
}
.animation{
   display: none;
   position: absolute;
   top: 45%;
   left: 50%;
}
/* page change animation */
.slide-in-bck-center {
	-webkit-animation: slide-in-bck-center 3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-bck-center 3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
/* ----------------------------------------------
 * Generated by Animista on 2020-7-25 13:45:48
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-bck-center
 * ----------------------------------------
 */
 @-webkit-keyframes slide-in-bck-center {
   0% {
     -webkit-transform: translateZ(600px);
             transform: translateZ(600px);
     opacity: 0;
   }
   100% {
     -webkit-transform: translateZ(0);
             transform: translateZ(0);
     opacity: 1;
   }
 }
 @keyframes slide-in-bck-center {
   0% {
     -webkit-transform: translateZ(600px);
             transform: translateZ(600px);
     opacity: 0;
   }
   100% {
     -webkit-transform: translateZ(0);
             transform: translateZ(0);
     opacity: 1;
   }
 }

 .slide-out-fwd-center {
	-webkit-animation: slide-out-fwd-center 3s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: slide-out-fwd-center 3s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}
/* ----------------------------------------------
 * Generated by Animista on 2020-7-25 13:55:38
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-out-fwd-center
 * ----------------------------------------
 */
 @-webkit-keyframes slide-out-fwd-center {
   0% {
     -webkit-transform: translateZ(1);
             transform: translateZ(1);
     opacity: 1;
   }
   100% {
     -webkit-transform: translateZ(600px);
             transform: translateZ(600px);
     opacity: 0;
   }
 }
 @keyframes slide-out-fwd-center {
   0% {
     -webkit-transform: translateZ(1);
             transform: translateZ(1);
     opacity: 1;
   }
   100% {
     -webkit-transform: translateZ(600px);
             transform: translateZ(600px);
     opacity: 0;
   }
 }
/* rubberBand animation */
.a {
   animation-duration: 1s;
   animation-fill-mode: both;
   animation-iteration-count: 1;
   display: inline-block;
 }
 
 .a:hover {
   color:#08fdd8;
   /* animation: rubberBand 5s infinite;  */
   animation-name: rubberBand;
 }
 
 @keyframes rubberBand {
   from {
     transform: scale3d(1, 1, 1);
   }
 
   30% {
     transform: scale3d(1.25, 0.75, 1);
   }
 
   40% {
     transform: scale3d(0.75, 1.25, 1);
   }
 
   50% {
     transform: scale3d(1.15, 0.85, 1);
   }
 
   65% {
     transform: scale3d(.95, 1.05, 1);
   }
 
   75% {
     transform: scale3d(1.05, .95, 1);
   }
 
   to {
     transform: scale3d(1, 1, 1);
   }
 }
/* loading animation */
.circle{
   width:200px;
   height: 2px;
   position: absolute;
   margin: auto;
   top:0;
   bottom:0;
   left: 0;
   right: 0;
   display:block; 
   animation: rotate 4s infinite ease-in-out; 
 }
 .circle:before{
   content:" ";
   width: 15px;
   height:15px;
   border-radius: 50%;
   background: #FFF;
   display:inline-block;
 }
 
 .ad{ 
   animation-delay: .2s;
 }
 
 @keyframes rotate {
   50% {
     transform: rotate(-1080deg);
     width:1%;
     opacity:0;
   }
   100% {
     transform: rotate(0deg);
     width:200px;
     opacity:1;
   }
 }
 /* logo */
 *, *:before, *:after {
   box-sizing: border-box;
}

.container {
   width: 600px;
   height: 600px;
   position: relative;
}
.container .ellipse {
   position: absolute;
   width: 100%;
   height: 35%;
   background: #ccc;
   border-radius: 50%;
   top: 32.5%;
   left: 0%;
}
.container .ellipse:nth-of-type(1) {
   transform: rotate(-5deg);
}
.container .ellipse:nth-of-type(2) {
   transform: rotate(-55deg);
}
.inner-container {
   width: 60%;
   height: 60%;
   background-color: #323a44;
   position: absolute;
   top: 20%;
   left: 20%;
   border-radius: 50%;
}
.neck {
   position: absolute;
   background-color: #efefef;
   width: 43%;
   height: 5%;
   bottom: 29%;
   left: 28.5%;
}
.suit {
   position: absolute;
   background-color: #efefef;
   width: 40%;
   height: 40%;
   bottom: 6%;
   left: 30%;
   border-radius: 100% 0%;
   transform: rotate(45deg);
   overflow: hidden;
}
.suit:before {
   content: "";
   position: absolute;
   width: 108%;
   height: 90%;
   border-radius: 30% / 50%;
   background-color: transparent;
   border: 12px solid #a3a3a3;
   transform: rotate(-45deg);
   top: 9%;
   left: 0%;
}
.suit:after {
   content: "";
   position: absolute;
   transform: rotate(-45deg);
   width: 47%;
   height: 30%;
   background-color: #a3a3a3;
   top: 40%;
   left: 31%;
   border-radius: 11px;
}
.helmet-container {
   position: absolute;
   width: 60%;
   height: 60%;
   background-color: #efefef;
   top: 16%;
   left: 20%;
   border-radius: 100px;
   border: 10px solid #323a44;
}
.helmet-container:before, .helmet-container:after {
   content: "";
   position: absolute;
   background-color: #efefef;
   width: 10%;
   height: 30%;
   top: 35%;
   border-radius: 5px;
}
.helmet-container:before {
   left: -5%;
}
.helmet-container:after {
   right: -5%;
}
.helmet-base {
   position: absolute;
   width: 96%;
   height: 25%;
   background-color: #a3a3a3;
   top: 38.5%;
   left: 2.5%;
   z-index: 2;
   border-radius: 5px;
  /* Faking the clipped helmet border! */
}
.helmet-base:before {
   content: "";
   position: absolute;
   width: 90.65%;
   height: 160%;
   top: -22%;
   left: 4.75%;
   border-radius: 11px;
   background-color: #323a44;
}
.helmet-base:after {
   content: "";
   position: absolute;
   width: 83%;
   height: 230%;
   background-color: transparent;
   top: -130%;
   left: 8%;
   border-top-left-radius: 50%;
   border-top-right-radius: 50%;
   border: 3px solid #b7b7b7;
}
.visor {
   position: absolute;
   width: 91%;
   height: 80%;
   background-color: #323a44;
   top: 13%;
   left: 5%;
   z-index: 3;
   border: 3px solid #323a44;
   border-radius: 50%;
   clip-path: polygon(5% 100%, 5% 0%, 95% 0%, 95% 100%);
   box-shadow: inset 30px 10px 0 -7px #a3a3a3;
}
.visor-shine {
   position: absolute;
   width: 85%;
   height: 85%;
   background-color: transparent;
   top: 8%;
   left: 6%;
   border-radius: 50%;
   box-shadow: inset 0 20px 0 -15px #fff;
}
.visor-shine:before, .visor-shine:after {
   content: "";
   position: absolute;
   width: 15%;
   height: 3%;
   background-color: #fff;
   top: 30%;
   right: 8%;
   border-radius: 50%;
}
.visor-shine:after {
   transform-origin: center;
   transform: rotate(90deg);
}
.stars {
   position: absolute;
   width: 100%;
   height: 100%;
}
.stars .star {
   position: absolute;
   background-color: #fff;
   border-radius: 50%;
}
.stars .star:nth-of-type(1) {
   width: 5%;
   height: 5%;
   top: 23%;
   left: 12%;
}
.stars .star:nth-of-type(2) {
   width: 4%;
   height: 4%;
   top: 31%;
   left: 17%;
}
.stars .star:nth-of-type(3) {
   width: 3%;
   height: 3%;
   top: 25%;
   left: 22%;
}
.stars .star:nth-of-type(4) {
   width: 5%;
   height: 5%;
   top: 45%;
   right: 11%;
}
.stars .star:nth-of-type(5) {
   width: 4%;
   height: 4%;
   top: 57%;
   right: 13%;
}
.stars .star:nth-of-type(6) {
   width: 3%;
   height: 3%;
   top: 53%;
   right: 7%;
}
/* page animation */


.animate-reveal {
   text-transform: uppercase;
   letter-spacing: 2px;
   opacity: 0;
   -webkit-animation: reveal 1s cubic-bezier(0, 1, 0.5, 1) 1 normal forwards;
      -moz-animation: reveal 1s ease-in 1 normal forwards;
        -o-animation: reveal 1s cubic-bezier(0, 1, 0.5, 1) 1 normal forwards;
           animation: reveal 1s cubic-bezier(0, 1, 0.5, 1) 1 normal forwards;
 }
 
 .animate-first {
   -webkit-animation-delay: 0;
      -moz-animation-delay: 0;
        -o-animation-delay: 0;
           animation-delay: 0;
 }
 
 .animate-second {
   -webkit-animation-delay: 500ms;
      -moz-animation-delay: 500ms;
        -o-animation-delay: 500ms;
           animation-delay: 500ms;
 }
 
 .animate-third {
   -webkit-animation-delay: 1s;
      -moz-animation-delay: 1s;
        -o-animation-delay: 1s;
           animation-delay: 1s;
 }
 .animate-fourth{
   -webkit-animation-delay: 1500ms;
   -moz-animation-delay: 1500ms;
     -o-animation-delay: 1500ms;
        animation-delay: 1500ms;
 }
 
 @-webkit-keyframes reveal {
   0% {
     opacity: 0;
     -webkit-transform: translateY(100%);
        -moz-transform: translateY(100%);
          -o-transform: translateY(100%);
             transform: translateY(100%);
   }
   100% {
     opacity: 1;
     -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
          -o-transform: translateY(0);
             transform: translateY(0);
   }
 }
 
 @-moz-keyframes reveal {
   0% {
     opacity: 0;
     -webkit-transform: translateY(100%);
        -moz-transform: translateY(100%);
          -o-transform: translateY(100%);
             transform: translateY(100%);
   }
   100% {
     opacity: 1;
     -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
          -o-transform: translateY(0);
             transform: translateY(0);
   }
 }
 
 @-o-keyframes reveal {
   0% {
     opacity: 0;
     -webkit-transform: translateY(100%);
        -moz-transform: translateY(100%);
          -o-transform: translateY(100%);
             transform: translateY(100%);
   }
   100% {
     opacity: 1;
     -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
          -o-transform: translateY(0);
             transform: translateY(0);
   }
 }
 
 @keyframes reveal {
   0% {
     opacity: 0;
     -webkit-transform: translateY(100%);
        -moz-transform: translateY(100%);
          -o-transform: translateY(100%);
             transform: translateY(100%);
   }
   100% {
     opacity: 1;
     -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
          -o-transform: translateY(0);
             transform: translateY(0);
   }
 }
 /* skill animation */
 .graph-cont2{
    display: none;
 }
 .graph-cont{
   width: calc(100% - 40px);
   width: 100%;
   max-width: 800px;
   margin: 0 auto;
 }
 .bar3{
   height: 60px;
   max-width: 400px;
   margin: 0 auto 10px auto;
   margin-left: 40px;
   line-height: 30px;
   font-size: 20px;
   color: #1d1d1d;
   font-family: 'Concert One', cursive;
   text-align: left;
   padding: 0 0 0 10px;
   position: relative;
 }
 
 .bar3::before{
   content: '';
   width: 100%;
   position: absolute;
   left: 0;
   height: 40px;
   top: 0;
   z-index: -2;
   background-color: #909096;
 }
 .bar3::after{
   content: '';
   background-color: #08fdd8;
   height: 40px;
   transition: 0.7s;
   display: block;
   width: 100%;
   -webkit-animation: bar-before 1 10s;
   position: absolute;
   top: 0;
   left: 0;
   z-index: -1;
 }
 .bar4{
   height: 60px;
   max-width: 400px;
   margin: 0 auto 10px auto;
   line-height: 30px;
   font-size: 20px;
   margin-right: 40px;
   color: #1d1d1d;
   font-family: 'Concert One', cursive;
   text-align: left;
   padding: 0 0 0 10px;
   position: relative;
 }
 
 .bar4::before{
   content: '';
   width: 100%;
   position: absolute;
   left: 0;
   height: 40px;
   top: 0;
   z-index: -2;
   background-color: #909096;
 }
 .bar4::after{
   content: '';
   background-color: #08fdd8;
   height: 40px;
   transition: 0.7s;
   display: block;
   width: 100%;
   -webkit-animation: bar-before 1 10s;
   position: absolute;
   top: 0;
   left: 0;
   z-index: -1;
 }
 .bar13::after{
   max-width: 68%;
 }
 .bar14::after{
   max-width: 30%;
 }
 .bar15::after{
   max-width: 80%;
 }
 .bar16::after{
   max-width: 60%;
 }
 .bar17::after{
   max-width: 75%;
 }
 .bar11::after{
   max-width: 70%;
 }
 .bar12::after{
   max-width: 65%;
 }
 @-webkit-keyframes bar-before{
   0%{
     width: 0px;
   }
   100%{
     width: 100%;
   }
 }
/* small skill page */
.graph-cont2{
   width: calc(100% - 40px);
   width: 100%;
   max-width: 800px;
   margin-top: 40px;

 }
 .bar1{
   height: 20px;
   max-width: 400px;
   margin: 0 0 10px 0;
   line-height: 30px;
   font-size: 10px;
   margin-right: 20px;
   color: #1d1d1d;
   font-family: 'Concert One', cursive;
   text-align: left;
   padding: 0 0 0 10px;
   position: relative;
 }
 
 .bar1::before{
   content: '';
   width: 100%;
   position: absolute;
   left: 0;
   height: 20px;
   top: 0;
   z-index: -2;
   background-color: #909096;
 }
 .bar1::after{
   content: '';
   background-color: #08fdd8;
   height: 20px;
   transition: 0.7s;
   display: block;
   width: 100%;
   -webkit-animation: bar-before 1 10s;
   position: absolute;
   top: 0;
   left: 0;
   z-index: -1;
 }
 .bar2{
   height: 20px;
   max-width: 400px;
   margin: 0 0 10px 0;
   margin-left: 20px;
   line-height: 30px;
   font-size: 10px;
   color: #1d1d1d;
   font-family: 'Concert One', cursive;
   text-align: left;
   padding: 0 0 0 10px;
   position: relative;
 }
 
 .bar2::before{
   content: '';
   width: 100%;
   position: absolute;
   left: 0;
   height: 20px;
   top: 0;
   z-index: -2;
   background-color: #909096;
 }
 .bar2::after{
   content: '';
   background-color: #08fdd8;
   height: 20px;
   transition: 0.7s;
   display: block;
   width: 100%;
   -webkit-animation: bar-before 1 10s;
   position: absolute;
   top: 0;
   left: 0;
   z-index: -1;
 }
 .bar21::after{
   max-width: 70%;
 }
 .bar22::after{
   max-width: 65%;
 }
 .bar23::after{
   max-width: 68%;
 }
 .bar24::after{
   max-width: 30%;
 }
 .bar25::after{
   max-width: 80%;
 }
 .bar26::after{
   max-width: 60%;
 }
 .bar27::after{
   max-width: 75%;
 }
 @-webkit-keyframes bar-before{
   0%{
     width: 0px;
   }
   100%{
     width: 100%;
   }
 }



@media screen and (max-width: 550px) {
   .nav-bar {
      position: fixed;
      width: 100%;
      height: 50px;
      background-color: #181818;
   }
   .nav-bar .logo {
      height: 100%;
      width: 80px;
   }
   .nav-bar .logo img {
      text-align: center;
      width: 50px;
      margin-top: 0px;
   }
   .nav-bar .logo p {
      display: none;

   }
   .nav-bar .links {
      float: right;
      position: absolute;
      right: 0;
      width: auto;
      margin-right: 8px;
      height: 100%;
      margin: 0;
   }
   .nav-bar .social {
      display: none;
   }
   .nav-bar .links a{
      float: left;
      display: block;
      color: #909096;
      width: 49px;
      height: 100%;
      margin: 0px;
   }
   .nav-bar .links i {
      float: left;
      display: block;
      color: #909096;
      width: 49px;
      height: 100%;
      margin top: 8px;
   }
   .nav-bar b {
      display: none;
      width: 49px;
      height: 100%;
      float: left;
      margin top: 8px;
   }
   .nav-bar .social i {
      display: none;
   }
   .nav-bar .links a:hover i {
      display: none;
   }
   .nav-bar .links a:hover b {
      display: block;
   }
   .nav-bar .social i:hover {
      none;
   }
   .headingText{
      font-size: 40px;
   }
   .upperText{
      margin-top: 30px;
   }
   .lowerText{
      margin-top: 50px;
   }
   .lowText{
      display: none;
   }
   #homePage{
      margin-left: 0;
   }
   .pages{
      margin-left: 20px;
   }
   .textZone{
      margin-left: 20px;
      margin-top: 50px;
   }
   .textZone h5{
      font-size: 12px;
   }
   .container{
      display: none;
   }
   #aboutPage img{
      display: none;
   }
   #aboutPage .education{
      display: block;
      width: 100%;
   }
   .graph-cont{
      display: none;
   }
   .graph-cont2{
      display: block;
   }
   #contactPage p{
      font-size: 12px;
   }
   ,.contactForm .formInput{
      font-size: 12px;
   }
   #contact-form{
      margin-top: 10px;
   }

   iframe{
      display: none;
   }
   .circle{
      width:10px;
      height: .5px;
      position: absolute;
      margin: auto;
      top:0;
      bottom:0;
      left: 0;
      right: 0;
      display:block; 
      animation: rotate 4s infinite ease-in-out; 
    }
    .circle:before{
      content:" ";
      width: 1px;
      height:1px;
      border-radius: 50%;
      background: #FFF;
      display:inline-block;
    }
}
